/* NOTE:

	https://fonts.google.com/specimen/Cinzel+Decorative?preview.text=Password%20Generator&preview.text_type=custom&category=Display#standard-styles
	
	https://fonts.google.com/specimen/Metal+Mania?category=Display&preview.text=Michael%20Woodyard&preview.text_type=custom
	
*/

/*———————————————————————————————————————*/
/* SECTION Imports                       */
/*———————————————————————————————————————*/

@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');

/*———————————————————————————————————————*/
/* SECTION Variables                     */
/*———————————————————————————————————————*/

:root {
	/* NOTE: Font Families */
	--font-family-1: 'Righteous', cursive;
	--font-family-2: 'Forum', cursive;

	/* NOTE: Text Colors */
	--text-color-1: rgb(255, 255, 255);
	--text-color-2: rgb(0, 0, 0);

	/* NOTE: Background Colors */
	--background-color-1: rgb(255, 255, 255);

	/* NOTE: Borders */
	--border-1:  0.5em solid rgb(255, 255, 255);
	--border-2: 0.25em solid rgb(255, 255, 255);
	--border-3:  0.15em solid rgb(255, 255, 255);

	/* NOTE: Gradient Colors */
	--gradient-1: ;
	--gradient-2: ;
	--gradient-3: ;
	--gradient-4: ;
}

/*———————————————————————————————————————*/
/* SECTION Elements                      */
/*———————————————————————————————————————*/

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: background-gradient 15s ease infinite;
	height: 100vh;
	overflow: hidden;
}

/*———————————————————————————————————————*/
/* SECTION Id's                          */
/*———————————————————————————————————————*/

#main-container {
	min-width: 50em;
	height: 50em;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#title {
	width: 100%;
	border: var(--border-1);
	height: 5em;
	position: relative;
	top: 4em;
	background-color: rgba(0, 0, 0, 0.5);
	user-select: none;
}

#title h1 {
	font-family: var(--font-family-1);
	color: var(--text-color-1);
	font-weight: 400;
	text-align: center;
	margin: 0;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#generator-container {
	position: relative;
	top: 8em;
	height: 35em;
	border: var(--border-1);
	text-align: center;
	color: var(--text-color-1);
	background-color: rgba(0, 0, 0, 0.5);
}

#generated-password {
	border: var(--border-2);
	position: relative;
	margin: 0;
	top: 1em;
	left: 50%;
	transform: translateX(-50%);
	width: 25em;
	height: 5em;
	font-family: var(--font-family-1);
	font-weight: 400;
	overflow-x: scroll;
	overflow-y: hidden;
}

#generated-password p {
	position: relative;
	padding-left: 1em;
	font-size: 1.5em;
	font-family: var(--font-family-2);
}

#copy-text-btn {
	position: absolute;
	right: 4em;
	top: 1.5em;
	height: 2.25em;
	font-size: 1.5em;
	transition: 0.5s;
}

#copy-text-btn:hover {
	background-color: black;
	border-radius: 1em;
}

#generated-password::-webkit-scrollbar {
	height: 10px;/* height of horizontal scrollbar ← You're missing this */
	background-color: rgba(0, 0, 0, 0.5);
}

#generated-password::-webkit-scrollbar-thumb {
	background-color: var(--background-color-1);
}

#generated-password::-webkit-scrollbar-thumb:hover {
	background-color: rgba(255, 255, 255, 0.5);
}

#character-amount-container {
	position: relative;
	top: 5em;
	width: 15em;
	left: 50%;
	transform: translateX(-50%);
	border: var(--border-2);
	padding: 0.5em;
}

#character-amount-container h2 {
	font-family: var(--font-family-2);
	font-weight: 400;
	user-select: none;
}

#options-container {
	position: relative;
	top: 6em;
	left: 50%;
	transform: translateX(-50%);
	width: 14em;
	padding: 1em;
	text-align: left;
	border: var(--border-2);
}

#options-container input {
	position: absolute;
	right: 8em;
	background-color: none;
	margin-top: 0.5em;
	font-family: var(--font-family-2);
	font-weight: 400;
}

#generate-password-btn {
	position: absolute;
	bottom: 1em;
	left: 50%;
	transform: translateX(-50%);
	font-size: 2em;
	padding: 0.5em;
	transition: 0.5s;
}

#generate-password-btn:hover {
	background-color: black;
	border-radius: 1em;
}


/*———————————————————————————————————————*/
/* SECTION Classes                       */
/*———————————————————————————————————————*/

.buttons {
	background: none;
	color: var(--text-color-1);
	border: var(--border-3);
	font-family: var(--font-family-2);
}

.labels {
	font-size: 1.5em;
}

/*———————————————————————————————————————*/
/* SECTION Keyframes                     */
/*———————————————————————————————————————*/

@keyframes background-gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}